body {
    width: 400px;
    height: 220px;
    background-color: gray;
    color: white;
    padding: 15px;
    font-family: "Whitney SSm 5r", "lucida grande", tahoma, verdana, arial, sans-serif !important;
    -webkit-font-smoothing: antialiased;
}

button {
    cursor: pointer;
}

.active-session-wrapper {
    width: 100%;
}

.current-song {
    float: right
}

.control-wrapper {
    text-align: center;
    display: inline-block;
    width: 30%;
    font-size: 30px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.control-wrapper i {
    cursor: pointer;
}

.fa-fast-forward {
    font-size: 24px !important;
}

.fa-fast-backward {
    font-size: 24px !important;
}

.album-art {
    width: 200px;
    height: 200px;
    cursor: pointer;
}

.left-half {
    display: inline-block;
    width: 50%;
}

.right-half {
    display: inline-block;
    width: 45%;
    float: right;
    padding-left: 8px;
}

.song-detail {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 15px;
}

.bottom {
    width: 100%;
    margin-top: 8px;
}

.time-elapsed {
    display: inline-block;
    width: 10%;
    font-size: 12px;
}

.progress-bar {
    display: inline-block;
    width: 75%;
}

.duration {
    display: inline-block;
    width: 10%;
    float: right;
    font-size: 12px;
}

.no-session-wrapper {
    width: 100%;
    height: 70px;
    padding-top: 70px;
    text-align: center;
    font-size: 20px;
}

.no-session-button-wrapper {
    margin-top: 10px;
}

.no-session-btn {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 30px;
    border: 1px solid #415968;
    border-radius: 4px;
    background-color: #0092cf;
    font-size: 20px;
    color: white;
    cursor: pointer;    
}

.js-rdio-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: -1;
}